@using PcBuilderApp.DTOs;
@using PcBuilderApp.DTOs.CatalogDto;
@model CatalogResponse<List<ProductDto>>
@*@model List<ProductDto>*@

@{
    ViewData["Title"] = "Case";
}


<div class="content-list">
    <div class="sort-container">

        <input id="q1" type="radio" name="sort">
        <label for="q1">Сначала дешевые</label>&nbsp;

        <input id="q2" type="radio" name="sort">
        <label for="q2">Сначала дорогие</label><br>
        @*<p>Сортировать по цене:</p>
        <button class="sort-button">Сначала дешевые</button>/
        <button class="sort-button">Сначала дорогие</button>*@
		<div class="number-product">
            <p>Отображать по:</p>&nbsp;
			<a asp-controller="Catalog" asp-action="GetAllCase" asp-route-PageSize="20">20</a>&nbsp;
            <a asp-controller="Catalog" asp-action="GetAllCase" asp-route-PageSize="50">50 </a>&nbsp;
            <a asp-controller="Catalog" asp-action="GetAllCase" asp-route-PageSize="100">100 </a>&nbsp;
		</div>
        
    </div>
    @foreach (var item in Model.Data)
    {

        <div class="product-cart">
            <img src="/images/Case/@item.ImageName" alt="photo cart" class="img-product">
            <div class="product-info">
                <a asp-action="GetCase" asp-route-id="@item.Id" class="product-cart-ref"><p class="product-cart-name">@item.Name</p></a>
                <p class="price">Цена: <b></b>@item.Price руб.</p>
            </div>
            <button class="add-basket">Добавить в корзину</button>
        </div>

    }
    <div class="pagination">
		<a href="#">&laquo;</a>
        @for(int i = 0; i<Model.NumberOfPages; i++)
        {
            <a asp-controller="Catalog" asp-action="GetAllCase" asp-route-PageSize="@Model.CurrentPageSize" asp-route-PageNum="@(i+1)">@(i+1)</a>
        }
        
        <a href="#">&raquo;</a>
    </div>

</div>