@model IEnumerable<PcBuilderApp.Models.Cpu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hherz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Core)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hherz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Core)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Streams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
